.body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.pink {
  background: linear-gradient(113.29deg, #9406DE 8.85%, #391493 90.99%);
}

.darkpink {
  background: linear-gradient(113.29deg, #1A0131 8.85%, #391493 90.99%);
}

.backpage {
  width: 100%;
}

.wrapper {
  max-width: 1170px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.light {
  z-index: 2;
  position: absolute;
  width: 3517.44px;
  height: 1951.94px;
  left: -486px;
  top: 4400px;
  background: #E1DECE;
  -webkit-transform: rotate(-17.11deg);
          transform: rotate(-17.11deg);
}

.lighttwo {
  z-index: 2;
  position: absolute;
  width: 3517.44px;
  height: 1451.94px;
  left: -486px;
  top: 9990px;
  background: #E1DECE;
  -webkit-transform: rotate(-17.11deg);
          transform: rotate(-17.11deg);
}

.header {
  font-family: 'Roboto', sans-serif;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  position: relative;
  vertical-align: middle;
  margin-left: 15em;
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-link {
  width: 110px;
  color: #E1DECE;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.header__logo-standart {
  margin-left: 135px;
  width: 80px;
  height: 42px;
}

.decortext {
  position: absolute;
  z-index: 10;
  font-family: 'Roboto', sans-serif;
  font-size: 90px;
  font-weight: 700;
  opacity: 45%;
  width: 452px;
  height: 265px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(135deg, rgba(222, 211, 109, 0.45), rgba(222, 211, 109, 0));
}

.decortext.one {
  -webkit-transform: translate(30%);
          transform: translate(30%);
  right: 0;
  margin-top: 320px;
}

.decortext.two {
  -webkit-transform: translate(-30%);
          transform: translate(-30%);
  left: 0;
  margin-top: -20px;
}

.prinfo {
  margin-top: -10em;
  width: 751px;
  font-family: 'EB Garamond', sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #E5E5E5;
  line-height: 26px;
}

.start {
  width: 100%;
}

.start__text {
  padding-top: 2em;
  color: #FFFFFF;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.start__text-one {
  font-family: 'EB Garamond', serif;
  font-size: 50px;
  font-weight: 700;
  color: #E5E5E5;
}

.ourprojekt {
  width: 100%;
  margin-top: 80px;
}

.ourprojekt__title {
  font-family: 'EB Garamond', serif;
  font-size: 40px;
  font-weight: 700;
  color: #E5E5E5;
  text-align: center;
}

.ourprojekt__line {
  margin-top: 20px;
  margin-bottom: 30px;
}

.ourprojekt__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  font-family: 'EB Garamond', serif;
  color: #FFFFFF;
}

.ourprojekt__card-item:hover {
  background: rgba(29, 3, 92, 0.5);
  border-radius: 40px;
}

.ourprojekt__card-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 310px;
  height: 329px;
  background: rgba(49, 3, 92, 0.5);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2em;
  margin-top: 3em;
}

.ourprojekt__card-item__img {
  margin: auto;
  width: 50%;
  border-radius: 5px;
}

.ourprojekt__card-item__text {
  margin-top: 20px;
}

.ourprojekt__card-item__text-one {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.oplata {
  margin-top: 200px;
}

.oplata__title {
  text-align: center;
  font-family: 'EB Garamond', serif;
  color: #E5E5E5;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

.oplata__text {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 26px;
}

.oplata__text-bol {
  font-size: 30px;
}

.oplata__text-one {
  width: 517px;
  font-size: 22px;
  margin-left: 50px;
}

.arrow {
  width: 100%;
  padding-bottom: 3em;
}

.arrow__text {
  color: #E5E5E5;
  font-family: 'EB Garamond', serif;
}

.arrow__text-title {
  position: relative;
  padding-top: 2em;
  z-index: 6;
  text-align: center;
  color: #E5E5E5;
  font-size: 50px;
  font-weight: 800;
}

.arrow__text-basik {
  position: relative;
  z-index: 6;
  padding-top: 5em;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 30px;
  font-weight: 400;
}

.arrow-one {
  position: absolute;
  z-index: 5;
  margin-top: -3em;
  width: 100%;
}

.arrow-two {
  position: absolute;
  z-index: 4;
  margin-top: -13em;
  width: 100%;
}

.arrow-free {
  position: absolute;
  z-index: 3;
  margin-top: -13em;
  width: 100%;
}

.arrow-four {
  position: absolute;
  z-index: 2;
  margin-top: -13em;
  width: 100%;
}

.arrow-five {
  position: absolute;
  z-index: 1;
  margin-top: -13em;
  width: 100%;
}

.arrow__part {
  width: 40%;
  position: relative;
  font-family: 'EB Garamond', serif;
  padding-top: 8em;
  margin-left: 5em;
  text-align: left;
  color: #E5E5E5;
  font-size: 20px;
  font-weight: 400;
}

.arrow__btn {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 7em;
  margin-top: 2em;
  width: 10em;
  height: 3em;
  font-family: 'EB Garamond', serif;
  text-align: center;
  color: #E5E5E5;
  font-size: 20px;
  font-weight: 400;
  background: linear-gradient(92.24deg, #8518F1 35.5%, #690FC2 87.39%);
  border-radius: 60px;
}

.footer {
  background-color: #1F1F1F;
}

.footer-cont {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  color: #E1DECE;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  padding: 41px;
}

.footer__one {
  text-align: start;
}

.footer__two {
  text-align: left;
  text-align: end;
}

.footer__message {
  width: 550px;
  color: #E5E5E5;
  font-size: 22px;
  font-family: 'EB Garamond', serif;
  text-align: left;
}

.footer__input {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__input-in {
  padding-left: 20px;
  color: #E5E5E5;
  font-size: 20px;
  width: 300px;
  height: 45px;
  background: linear-gradient(92.24deg, #3B0C6A 35.5%, #380E63 87.39%);
  border-radius: 60px 0px 0px 60px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.footer__input-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 47px;
  border-radius: 0px 60px 60px 0px;
  background: #FFF171;
  border: none;
}

.categories {
  margin: auto;
  margin-top: 3em;
  width: 48em;
}

.categories-rowOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories-rowTwo {
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories-rowFree {
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories__item {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-right: 1em;
  width: auto;
  padding: 10px 20px 10px 20px;
  height: 2em;
  background: #32055C;
  border-radius: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.catalog {
  margin: auto;
  margin-top: 5em;
  padding-bottom: 5em;
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 2em;
}

.catalog-card__title {
  margin-top: 0.5em;
  padding-left: 1em;
  color: #E5E5E5;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.catalog-card__img {
  width: 100%;
}

.catalog-card__diskr {
  padding-left: 1.2em;
  margin-top: 0.5em;
  color: #E1DECE;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */