$dark: #191919;
$white: #FFFFFF;
$pastel: #E1DECE;
$grey: #C4C4C4;
$darkgrey: #1F1F1F;
$grey: #6E6E6E;
$darkpastel: #E5E5E5;
$greygrey: #565656;
.body{
	margin: 0;
	width: 100%;
	overflow-x: hidden;
}
.pink{
	background: linear-gradient(113.29deg, #9406DE 8.85%, #391493 90.99%);
}
.darkpink{
	background: linear-gradient(113.29deg, #1A0131 8.85%, #391493 90.99%);
}
.backpage{
	width: 100%;
}
.wrapper{
	max-width: 1170px;
}
.center{
	margin-left: auto;
	margin-right: auto;
}
.light{
	z-index: 2;
	position: absolute;
	width: 3517.44px;
	height: 1951.94px;
	left: -486px;
	top: 4400px;
	background: #E1DECE;
	transform: rotate(-17.11deg);
}
.lighttwo{
	z-index: 2;
	position: absolute;
	width: 3517.44px;
	height: 1451.94px;
	left: -486px;
	top: 9990px;
	background: #E1DECE;
	transform: rotate(-17.11deg);
}
.header{
	font-family: 'Roboto', sans-serif;
	height: 67px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	&__menu{
		vertical-align: middle;
		margin-left: 8%;
		width: 20em;
		display: flex;
  	flex-direction: row;
  	justify-content: space-between;
		&-link{
			width: 110px;
			color: $pastel;
			font-size: 18px;
			font-weight: 400;
			text-decoration: none;
		}
		&-open{
			width: 110px;
			color: $pastel;
			font-size: 20px;
			font-weight: 700;
			text-decoration: none;
		}
	}
	&__logo{
		&-standart{
			margin-left: 135px;
			width: 80px;
			height: 42px;
		}
	}
}

.decortext{
	position: absolute;
	z-index: 10;
	font-family: 'Roboto', sans-serif;
	font-size: 90px;
	font-weight: 700;
	opacity: 45%;
	width: 452px;
	height: 265px;
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(135deg, rgba(222, 211, 109, 0.45), rgba(222, 211, 109, 0));
	&.one{
		transform: translate(30%);
		right: 0;
		margin-top: 320px;
	}
	&.two{
		transform: translate(-30%);
		left: 0;
		margin-top: -20px;
	}
}
.prinfo{
	margin-top: -10em;
	width: 751px;
	font-family: 'EB Garamond', sans-serif;
	font-size: 22px;
	font-weight: 300;
	color: $darkpastel;
	line-height: 26px;
}
.start{
	width: 100%;
	&__text{
		padding-top: 2em;
		color: $white;
		text-align: center;
		justify-content: center;
		&-one{
			font-family: 'EB Garamond', serif;
			font-size: 50px;
			font-weight: 700;
			color: $darkpastel;
		}
	}
}
.ourprojekt{
	width: 100%;
	margin-top: 80px;
	&__title{
		font-family: 'EB Garamond', serif;
		font-size: 40px;
		font-weight: 700;
		color: $darkpastel;
		text-align: center;
	}
	&__line{
		margin-top: 20px;
		margin-bottom: 30px;
	}
	&__card{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 15px;
		font-family: 'EB Garamond', serif;
		color: $white;
		&-item:hover{
			background: rgba(29, 3, 92, 0.5);
			border-radius: 40px;
		}
		&-item{
			box-sizing: border-box;
			width: 310px;
			height: 329px;
			background: rgba(49, 3, 92, 0.5);
			backdrop-filter: blur(50px);
			border-radius: 37px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: 2em;
			margin-top: 3em;
			
			&__img{
				margin: auto;
				width: 50%;
				border-radius: 5px;
			}
			&__text{
				margin-top: 20px;
				&-one{
					font-size: 20px;
					font-weight: 700;
					text-align: center;
				}
			}
		}
	}
}
.oplata{
	margin-top: 200px;
	&__title{
		text-align: center;
		font-family: 'EB Garamond', serif;
		color: $darkpastel;
		font-size: 40px;
		font-weight: 700;
		margin-bottom: 30px;
	}
	&__text{
		font-family: 'EB Garamond', serif;
		font-weight: 400;
		color: $white;
		display: flex;
		flex-direction: row;
		justify-content: center;
		line-height: 26px;
		&-bol{
			font-size: 30px;
		}
		&-one{
			width: 517px;
			font-size: 22px;
			margin-left: 50px;
		}
	}
}
.arrow{
	width: 100%;
	padding-bottom: 3em;
	&-cont{
		width: 100%;
		height: 60em;
	}
	&-upper{
		position: absolute;
		z-index: 5;
		width: 100vw;
		height: 30em;
		background: url(../img/arrow1.png) no-repeat;
		background-size: 100%;
	}
	&-one{
		margin-top: 10%;
		position: absolute;
		z-index: 4;
		width: 100vw;
		height: 30em;
		background: url(../img/arrow2.png) no-repeat;
		background-size: 100%;
	}
	&-two{
		margin-top: 20%;
		position: absolute;
		z-index: 3;
		width: 100vw;
		height: 30em;
		background: url(../img/arrow3.png) no-repeat;
		background-size: 100%;
	}
	&-fre{
		margin-top: 30%;
		position: absolute;
		z-index: 2;
		width: 100vw;
		height: 30em;
		background: url(../img/arrow4.png) no-repeat;
		background-size: 100%;
	}
	&-four{
		margin-top: 40%;
		position: absolute;
		z-index: 1;
		width: 100vw;
		height: 30em;
		background: url(../img/arrow5.png) no-repeat;
		background-size: 100%;
	}
	&-title{
		margin-top: 5%;
		text-align: center;
		color: $darkpastel;
		font-size: 50px;
		font-weight: 800;
		font-family: 'EB Garamond', serif;
	}
	&-titleTwo{
		margin-top: 12%;
		text-align: center;
		color: $darkpastel;
		font-size: 40px;
		font-weight: 500;
		font-family: 'EB Garamond', serif;
	}
	&-text{
		margin-top: 20%;
		text-align: center;
		color: $darkpastel;
		font-size: 40px;
		font-weight: 500;
		font-family: 'EB Garamond', serif;
	}
	&__part{
		width: 40%;
		position: relative;
		font-family: 'EB Garamond', serif;
		padding-top: 8em;
		margin-left: 5em;
		text-align: left;
		color: $darkpastel;
		font-size: 20px;
		font-weight: 400;
	}
	&__btn{
		text-decoration: none;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-left: 7em;
		margin-top: 2em;
		width: 10em;
		height: 3em;
		font-family: 'EB Garamond', serif;
		text-align: center;
		color: $darkpastel;
		font-size: 20px;
		font-weight: 400;
		background: linear-gradient(92.24deg, #8518F1 35.5%, #690FC2 87.39%);
		border-radius: 60px;
	}
}
.footer{
	background-color: $darkgrey;
	&-cont{
		margin-left: auto;
		margin-right: auto;
		width: 1170px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-family: 'Roboto', sans-serif;
		color: $pastel;
		font-size: 15px;
		font-weight: 400;
		line-height: 25px;
		padding: 41px;
	}
	&__one{
		text-align: start;
	}
	&__two{
		text-align: left;
		text-align: end;
	}
	&__message{
		width: 550px;
		color: $darkpastel;
		font-size: 22px;
		font-family: 'EB Garamond', serif;
		text-align: left;
	}
	&__input{
		margin-top: 10px;
		display: flex;
		&-in{
			padding-left: 20px;
			color: $darkpastel;
			font-size: 20px;
			width: 300px;
			height: 45px;
			background: linear-gradient(92.24deg, #3B0C6A 35.5%, #380E63 87.39%);
			border-radius: 60px 0px 0px 60px;
			outline: none;
			box-shadow: none;
			border: none;
		}
		&-btn{
			align-items: center;
			width: 60px;
			height: 47px;
			border-radius: 0px 60px 60px 0px;
			background: #FFF171;
			border: none;
		}
	}
}
.categories{
	margin: auto;
	margin-top: 3em;
	width: 48em;
	&-rowOne{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	&-rowTwo{
		margin-top: 0.5em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	&-rowFree{
		margin-top: 0.5em;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	&__item{
		color: rgba(255, 255, 255, 0.5);
		font-size: 18px;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		margin-right: 1em;
		width: auto;
		padding: 10px 20px 10px 20px;
		height: 2em;
		background: #32055C;
		border-radius: 2em;
		display: flex;
		align-items: center;
		text-align: center;
	}
}
.catalog{
	margin: auto;
	margin-top: 5em;
	padding-bottom: 5em;
	width: 60%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 3em;
  grid-row-gap: 2em;
	&-card{
		&__title{
			margin-top: 0.5em;
			padding-left: 1em;
			color: $darkpastel;
			font-size: 20px;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
		}
		&__img{
			width: 100%;
		}
		&__diskr{
			padding-left: 1.2em;
			margin-top: 0.5em;
			color: $pastel;
			font-size: 16px;
			font-family: 'Roboto', sans-serif;
			font-weight: 500;
		}
	}
}
.job{
	padding-top: 3em;
	padding-bottom: 5em;
	width: 80%;
	&-title{
		color: $darkpastel;
		font-size: 60px;
		font-family: 'EB Garamond', serif;
		font-weight: 800;
	}
	&-disk{
		width: 40%;
		margin-top: 1em;
		color: $darkpastel;
		font-size: 20px;
		font-family: 'EB Garamond', serif;
		font-weight: 400;
	}
	&__form{
		margin-top: 3em;
		&-item{
			&-title{
				color: #B367FF;
				font-size: 16px;
				font-family: 'Roboto', sans-serif;
				font-weight: 400;
			}
			&-in{
				margin-top: 1em;
				margin-bottom: 1em;
				width: 380px;
				height: 4em;
				background: #240543;
				border: 1px solid #470687;
				border-radius: 43.5px;
				padding-left: 4em;
				color: rgba(179, 103, 255, 0.4);
				font-size: 16px;
				font-family: 'Roboto', sans-serif;
				font-weight: 400;
			}
			&-inTwo{
				margin-top: 1em;
				margin-bottom: 1em;
				width: 40em;
				height: 15em;
				background: #240543;
				border: 1px solid #470687;
				border-radius: 43.5px;
				padding-left: 4em;
				color: rgba(179, 103, 255, 0.4);
				font-size: 16px;
				font-family: 'Roboto', sans-serif;
				font-weight: 400;
			}
		}
		&-btn{
			width: 15em;
			height: 4em;
			background: linear-gradient(95.62deg, #AC06DF 7.52%, #4B058C 100%);
			box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2);
			border-radius: 35.5px;
			border: none;
			color: $darkpastel;
			font-size: 20px;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
		}
	}
}